---
import Card from "../components/Card.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
		<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

		<title>Alpine Infinite Scroll with resetting max value</title>
	</head>
	<body>

		<h1>Alpine Infinite Scroll with resetting max value</h1>

		<div x-data="{offset: 0, limit: 2, max: 2, products: []}" x-init="fetchProducts = async () => { products = [...products, ...(await (await fetch(`https://fakestoreapi.com/products?offset=${offset}&limit=${limit}`)).json())]; }">

			<template x-for="product in products">
				<Card :product="product" />
			</template>

    		<div x-intersect="offset < max ? (offset += limit, fetchProducts()) : null">Intersect</div>

			<button @click="max += 2*limit; offset += limit; fetchProducts();" x-show="offset >= max" >Load More</button>

		</div>
	</body>
</html>

