<article>
  <img x-bind:src="product.image" :alt="product.title" height="300px" width="300px"/>
  <h2 x-text="product.title"></h2>
  <p x-text="product.price"></p>
  <p x-text="product.description"></p>
</article>